{% extends 'accounts/base.html' %} {% load static %} {% block body%}


<div class="container">
    <center>
        <h1 style=" color: white; text-transform:uppercase; margin-top:2% ;margin-bottom: 2%; background-color: coral; padding:1%">
            Your {{tag}} Product</h1>
    </center>
    <div class="row">
        {% for pro in product %}
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mx-3" style="margin-bottom: 10px;">
            <div class="card" style="width: 18rem;">
                <img src="{{pro.image.url}}" alt="Card image cap" width="-webkit-fill-available" height="200px" style="margin-top: 5px;"> {% if pro.discount
                < 100 %} <div style="position: absolute;top:5px;left: 10px;background-color:yellow;border-radius: 50%;">
                    <p style="margin-top: 8px;padding:2px;"> {{pro.discount | floatformat:1}}% </p>
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{pro.name}}</h5>
                <p class="card-text">Rs. {{pro.price}}</p>
                <button data-product="{{pro.id}}" data-action="add" data-url="{% url 'update_item' %}" class="btn btn-outline-primary add-btn update-cart ">Add to Cart</button>
                <a href="{% url 'product_detail' pro.slug %}" class="btn btn-outline-success" style="display: inline-block;">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}