{% extends 'accounts/base.html'%}
{% load static %}

{% block body %}
<style>
    .profile-pic {
        max-width: 50px;
        max-height: 50px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{product_detail.image.url}}" style="width: 100%; height: 500px;" alt="Product Image">
        </div>
        <div class="col-lg-6">
            <br>
            <p class="product-style">Name <span>-></span><span style="font-size:x-large;">
                    {{product_detail.name}}</span></p>
            <p class="product-style">Price <span>-></span><span style="font-size:x-large;">
                    Rs. {{product_detail.price}}</span></p>
            <p class="product-style">Product Category <span>-></span></span><span style="font-size:x-large;">
                    {{product_detail.Category}}</span></p>
            <p class="product-style">Product description <span>-></span></span><span style="font-size:x-large;">
                    {{product_detail.description}}</span></p>

            <button data-product="{{product_detail.id}}" data-action="add" data-url="{% url 'update_item' %}"
                class="btn btn-outline-primary add-btn update-cart ">Add to Cart</button>



        </div>
    </div>
    
    <div style="background-color: deepskyblue;">
        <h1 style="margin: 50px; color:whitesmoke;">Reviews</h1>
    </div>
    
    <hr>
        {% for review in reviews %}
        <div class="p-2" style="background-color:beige;">
        <img class="profile-pic" src="{{review.customer.profile_pic.url}}">
        <strong style="margin-left:20px ;">{{review.customer.name}}</strong><br>
        <p style="margin-left: 10%;">{{review.text}}</p>
    </div>
    <hr>
        {% endfor %}

</div>

{% endblock %}