<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-conter text-white mb-3" id="total-order">
                <div class="card-header">
                    <h5 class="card-title text-center"> Total-Order</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">{{totalorder}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-conter text-white mb-3" id="order-delivered">
                <div class="card-header">
                    <h5 class="card-title text-center"> Order Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">{{delivered}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-conter text-white mb-3" id="order-pending">
                <div class="card-header">
                    <h5 class="card-title text-center"> Order Panding</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">{{panding}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>