{% extends 'accounts/base.html' %}.
{% load static %}
{% block body %}

<style>
.profile-pic{
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
</style>
<br>
<hr>
<div class="row">
    <div class="col-md-3">
    <div class="card card-body">
        <hr>
        <h3 style="text-align: center;">Accounts Settings</h3>
        
        <img class="profile-pic " src="{{request.user.myprofile.profile_pic.url}}">
    </div>    
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" actions="{% url 'accounts_settings' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <!-- {% for f in form %}
                {{f.label_tag}}
                <hr>
                {{f}}
                {% endfor %} -->
                <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
        </div>
    </div>
</div>
{% endblock %}