<bound method Tag.prettify of 
<html>
<head><meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="nofollow" name="robots"/>
<title>Rohit Sharma - Player Profile - Test Cricket</title>
<meta content="Sharma, R G - Test Cricket, profile, statistical overview, batting graphs, bowling graphs,
performances by ground, performances by opponent, performances by year, performances by series, performances by batting position, 
analysis of dismissals, list of innings, partnership records, man of match awards" name="description"/>
<link href="../../styles/howstat.css" rel="stylesheet"/>
</head>
<body marginheight="0" marginwidth="0">
<div style="left: 0; margin-left: 167px; min-height: 100%; position: relative; top: 23px;">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top">
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td class="Spacer2" colspan="2"> 
									<span class="TextGreenBold12">
									Rohit Sharma  (India)
									</span>
</td>
<td class="TextBlackBold8">
<a class="LinkOff" href="PlayerMenu.asp">Find another Player</a>
</td>
</tr>
<tr>
<td class="Spacer2" colspan="3"> </td>
</tr>
<tr>
<td class="FieldName" width="100"> Full Name:</td>
<td width="450">
									Rohit G Sharma 
								</td>
<td class="TextBlackBold8">
<a class="LinkOff" href="PlayerOverview.asp?PlayerID=3474/">Detailed Test Profile &amp; Statistics</a>     
									
								</td>
</tr>
<tr>
<td class="FieldName"> Born:</td>
<td>
									30/04/1987
								</td>
<td class="TextBlackBold8">
<a class="LinkOff" href="PlayerOverview_ODI.asp?PlayerID=3474/">Detailed ODI Profile &amp; Statistics</a>     
									
								</td>
</tr>
<tr>
<td class="FieldName">
								
									 Current Age:
								
								</td>
<td>
									33 years 31 days								
								</td>
<td class="TextBlackBold8">
<a class="LinkOff" href="PlayerOverview_T20.asp?PlayerID=3474/">Detailed T20 Profile &amp; Statistics</a>     
									
								</td>
</tr>
<tr>
<td class="FieldName"> Bats:</td>
<td>
									Right Handed
								</td>
<td class="TextBlackBold8">
<a class="LinkOff" href="../IPL/PlayerOverview.asp?PlayerID=3474/">Detailed IPL Profile &amp; Statistics</a>     
									
								</td>
</tr>
<tr>
<td class="FieldName"> Bowls:</td>
<td colspan="2">
									Right Arm Off Break
								</td>
</tr>
</table>
<br/>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top">
<table border="0" cellpadding="1" class="BorderedBoxTest" width="244">
<tr>
<td><span class="TextBlackBold10"><a class="LinkOff" href="PlayerOverview.asp?PlayerID=3474/">Tests</a></span><br/>
<span class="TextBlack10">(32
														matches)
																								
												</span>
</td>
</tr>
</table>
</td>
<td width="2"> </td>
<td valign="top">
<table border="0" cellpadding="1" class="BorderedBoxODI" width="244">
<tr>
<td><span class="TextBlackBold10"><a class="LinkOff" href="PlayerOverview_ODI.asp?PlayerID=3474/">One Day Internationals</a></span><br/>
<span class="TextBlack10">(224
												  matches)
												
												</span>
</td>
</tr>
</table>
</td>
<td width="2"> </td>
<td valign="top">
<table border="0" cellpadding="1" class="BorderedBoxT20" width="244">
<tr>
<td><span class="TextBlackBold10"><a class="LinkOff" href="PlayerOverview_T20.asp?PlayerID=3474/">Twenty20 Internationals</a></span><br/>
<span class="TextBlack10">(108
												  matches)
												
												</span>
</td>
</tr>
</table>
</td>
<td width="2"> </td>
<td valign="top">
<table border="0" cellpadding="1" class="BorderedBoxIPL" width="244">
<tr>
<td><span class="TextBlackBold10"><a class="LinkOff" href="../IPL/PlayerOverview.asp?PlayerID=3474/">Indian Premier League</a></span><br/>
<span class="TextBlack10">(188
														matches)
													
												</span>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td valign="top">
<table border="0" cellpadding="1" cellspacing="1" class="BorderedBox3">
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Batting
											</td>
</tr>
<tr>
<td width="180">
<span class="FieldName">Innings:</span>
</td>
<td class="FieldValue" width="45">
<a class="LinkOff" href="PlayerProgressBat.asp?PlayerID=3474/">53</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Not Outs:</span>
</td>
<td class="FieldValue">
												7
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Aggregate:</span>
</td>
<td class="FieldValue">
												2141
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Highest Score:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard.asp?MatchCode=2386">212</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												46.54  
											</td>
</tr>
<tr>
<td>
<span class="FieldName">50s:</span>
</td>
<td class="FieldValue">
                          10
											</td>
</tr>
<tr>
<td>
<span class="FieldName">100s:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerNotables.asp?PlayerID=3474/&amp;s=2">6</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Ducks:</span>
</td>
<td class="FieldValue">
												4
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4s:</span>
</td>
<td class="FieldValue">
												216
											</td>
</tr>
<tr>
<td>
<span class="FieldName">6s:</span>
</td>
<td class="FieldValue">
												55
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Scoring Rate</span>
</td>
<td class="FieldValue">
												59.26
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Bowling
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Overs:</span>
</td>
<td class="FieldValue">
												61.4
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Runs Conceded:</span>
</td>
<td class="FieldValue">
												216
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Wickets:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerProgressBowl.asp?PlayerID=3474/">2</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												108.00
											</td>
</tr>
<tr>
<td>
<span class="FieldName">5 Wickets in  Innings:</span>
</td>
<td class="FieldValue">
												
													0
																							
											</td>
</tr>
<tr>
<td>
<span class="FieldName">10 Wickets in Match:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Best - Innings:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard.asp?MatchCode=2151">1/26</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Best - Match:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard.asp?MatchCode=2167">1/35</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Economy Rate:</span>
</td>
<td class="FieldValue">
												3.50
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Strike Rate:</span>
</td>
<td class="FieldValue">
												185.00
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Fielding
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												31
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												3
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Match:</span>
</td>
<td class="FieldValue">
												3
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Wicket Keeping
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Stumpings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Match:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Dismissals in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Dismissals in Match:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Captaincy
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Won/Lost:</span>
</td>
<td class="FieldValue">
</td>
</tr>
</table>
</td>
<td width="2"> </td>
<td align="top">
<table border="0" cellpadding="1" cellspacing="1" class="BorderedBox3">
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Batting
											</td>
</tr>
<tr>
<td width="180">
<span class="FieldName">Innings:</span>
</td>
<td class="FieldValue" width="45">
<a class="LinkOff" href="PlayerProgressBat_ODI.asp?PlayerID=3474/">217</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Not Outs:</span>
</td>
<td class="FieldValue">
												32
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Aggregate:</span>
</td>
<td class="FieldValue">
												9115
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Highest Score:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard_ODI.asp?MatchCode=3693">264</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												49.27  
											</td>
</tr>
</table></td></tr>
<tr>
<td>
<span class="FieldName">50s:</span>
</td>
<td class="FieldValue">
                          43
											</td>
</tr>
<tr>
<td>
<span class="FieldName">100s:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerNotables_ODI.asp?PlayerID=3474/&amp;s=2">29</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Ducks:</span>
</td>
<td class="FieldValue">
												13
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4s:</span>
</td>
<td class="FieldValue">
												814
											</td>
</tr>
<tr>
<td>
<span class="FieldName">6s:</span>
</td>
<td class="FieldValue">
												244
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Scoring Rate</span>
</td>
<td class="FieldValue">
												88.93
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Bowling
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Overs:</span>
</td>
<td class="FieldValue">
												98.5
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Runs Conceded:</span>
</td>
<td class="FieldValue">
												515
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Wickets:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerProgressBowl_ODI.asp?PlayerID=3474/">8</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												64.38
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4 Wickets in Innings:</span>
</td>
<td class="FieldValue">
												
													0
																							
											</td>
</tr>
<tr>
<td>
<span class="FieldName">5 Wickets in Innings:</span>
</td>
<td class="FieldValue">
												
													0
																							
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Best:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard_ODI.asp?MatchCode=2976">2/27</a>
</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td>
<span class="FieldName">Economy Rate:</span>
</td>
<td class="FieldValue">
												5.21
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Strike Rate:</span>
</td>
<td class="FieldValue">
												74.13
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Fielding
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												77
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												3
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Wicket Keeping
											</td>
</tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												0
											</td>
</table></td></tr>
<tr>
<td>
<span class="FieldName">Stumpings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td>
<span class="FieldName">Most Dismissals in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Captaincy
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Won/Lost:</span>
</td>
<td class="FieldValue">
													8/2
											</td>
</tr>
</table>
</td>
<td width="2"> </td>
<td valign="top">
<table border="0" cellpadding="1" cellspacing="1" class="BorderedBox3">
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Batting
											</td>
</tr>
<tr>
<td width="180">
<span class="FieldName">Innings:</span>
</td>
<td class="FieldValue" width="45">
<a class="LinkOff" href="PlayerProgressBat_T20.asp?PlayerID=3474/">100</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Not Outs:</span>
</td>
<td class="FieldValue">
												15
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Aggregate:</span>
</td>
<td class="FieldValue">
												2773
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Highest Score:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard_T20.asp?MatchCode=0649">118</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												32.62  
											</td>
</tr>
<tr>
<td>
<span class="FieldName">50s:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerNotables_T20.asp?PlayerID=3474/&amp;s=2">21</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">100s:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerNotables_T20.asp?PlayerID=3474/&amp;s=2">4</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Ducks:</span>
</td>
<td class="FieldValue">
												6
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4s:</span>
</td>
<td class="FieldValue">245
											</td>
</tr>
<tr>
<td>
<span class="FieldName">6s:</span>
</td>
<td class="FieldValue">
												126
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Scoring Rate</span>
</td>
<td class="FieldValue">
												138.72
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Bowling
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Overs:</span>
</td>
<td class="FieldValue">
												11.2
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Runs Conceded:</span>
</td>
<td class="FieldValue">
												113
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Wickets:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="PlayerProgressBowl_T20.asp?PlayerID=3474/">1</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												113.00
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4 Wickets in Innings:</span>
</td>
<td class="FieldValue">
												
													0
																							
											</td>
</tr>
<tr>
<td>
<span class="FieldName">5 Wickets in Innings:</span>
</td>
<td class="FieldValue">
												
													0
																							
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Best:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../Matches/MatchScoreCard_T20.asp?MatchCode=0128">1/22</a>
</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td>
<span class="FieldName">Economy Rate:</span>
</td>
<td class="FieldValue">
												9.97
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Strike Rate:</span>
</td>
<td class="FieldValue">
												68.00
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Fielding
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												40
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												3
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Wicket Keeping
											</td>
</tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												0
											</td>
</table></td></tr>
<tr>
<td>
<span class="FieldName">Stumpings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td>
<span class="FieldName">Most Dismissals in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Captaincy
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Won/Lost:</span>
</td>
<td class="FieldValue">
													15/4
											</td>
</tr>
</table>
</div></body></html>
<td width="2"> </td>
<td valign="top">
<table border="0" cellpadding="1" cellspacing="1" class="BorderedBox3">
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Batting
											</td>
</tr>
<tr>
<td width="180">
<span class="FieldName">Innings:</span>
</td>
<td class="FieldValue" width="45">
<a class="LinkOff" href="../IPL/PlayerProgressBat.asp?PlayerID=3474/">183</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Not Outs:</span>
</td>
<td class="FieldValue">
												28
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Aggregate:</span>
</td>
<td class="FieldValue">
												4898
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Highest Score:</span>
</td>
<td class="FieldValueAsterisk">
<a class="LinkOff" href="../IPL/MatchScoreCard.asp?MatchCode=0310">109*</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												31.60  
											</td>
</tr>
<tr>
<td>
<span class="FieldName">50s:</span>
</td>
<td class="FieldValue">
                         36
											</td>
</tr>
<tr>
<td>
<span class="FieldName">100s:</span>
</td>
<td class="FieldValue">
                        1
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Ducks:</span>
</td>
<td class="FieldValue">
												12
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4s:</span>
</td>
<td class="FieldValue">431
											</td>
</tr>
<tr>
<td>
<span class="FieldName">6s:</span>
</td>
<td class="FieldValue">
												194
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Scoring Rate</span>
</td>
<td class="FieldValue">
												130.82
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Bowling
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Overs:</span>
</td>
<td class="FieldValue">
												59.2
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Runs Conceded:</span>
</td>
<td class="FieldValue">
												475
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Wickets:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../IPL/PlayerProgressBowl.asp?PlayerID=3474/">15</a>
</td>
</tr>
<tr>
<td>
<span class="FieldName">Average:</span>
</td>
<td class="FieldValue">
												31.67
											</td>
</tr>
<tr>
<td>
<span class="FieldName">4 Wickets in Innings:</span>
</td>
<td class="FieldValue">
												1
											</td>
</tr>
<tr>
<td>
<span class="FieldName">5 Wickets in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Best:</span>
</td>
<td class="FieldValue">
<a class="LinkOff" href="../IPL/MatchScoreCard.asp?MatchCode=0091">4/6</a>
</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td>
<span class="FieldName">Economy Rate:</span>
</td>
<td class="FieldValue">
												8.01
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Strike Rate:</span>
</td>
<td class="FieldValue">
												23.73
											</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Fielding
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												83
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												3
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Wicket Keeping
											</td>
</tr>
<td>
<span class="FieldName">Catches:</span>
</td>
<td class="FieldValue">
												0
											</td>
</table></td>
<tr>
<td>
<span class="FieldName">Stumpings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Most Catches in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td>
<span class="FieldName">Most Dismissals in Innings:</span>
</td>
<td class="FieldValue">
												0
											</td>
</tr>
<tr>
<td> </td><td> </td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
<tr>
<td class="ProfileSection" colspan="2" style="font-weight: bold; height: 20px">
												Captaincy
											</td>
</tr>
<tr>
<td>
<span class="FieldName">Won/Lost:</span>
</td>
<td class="FieldValue">
													62/41
											</td>
</tr>



<tr>
<td align="left" colspan="7" height="30" valign="bottom">
<a class="LinkOff" href="PlayerMenu.asp#find?data-scroll=false">Player Records and Statistics Menu</a>
</td>
</tr>




<center>
<!--
<a href="http://fta.firetrust.com/index.cgi?id=howstat&page=1">
<img src="http://www.firetrust.com/adverts/mailwasher_016.gif" alt="" />
</a><br> 
-->
<br/><br/>
<span class="Footer">
<em>Content on this web site is copyright Howstat Computing Services except where otherwise indicated.</em>
</span>
<br/>
<em><a href="http://howstat.com/cricket/copyright.asp"><span class="FooterLink">Copyright Statement</span></a>  <a href="http://howstat.com/cricket/disclaimer.asp"><span class="FooterLink">Disclaimer</span></a></em>
<br/> 
</center>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6621978-1");
pageTracker._trackPageview();
} catch(err) {}
</script>






<div style="position: fixed; top: 0px; left: 0px; width: 150; height: 100%; background-color: black;">
<table bgcolor="black" border="0" cellpadding="0" cellspacing="0" width="162">
<tr>
<td align="center" valign="top" width="100%">
<!-- if this line breaks it creates a "bulge" in outline when selected -->
<a href="http://howstat.com/cricket/home.asp"><img alt="Home Page" border="0" height="60" src="http://howstat.com/cricket/images/logo.gif" title="HOme" width="80"/><br/></a>
</td>
</tr>
</table>
<br/><br/><br/><br/>
<table bgcolor="black" border="0" cellpadding="2" cellspacing="0" width="162">
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Statistics/Players/PlayerMenu.asp">Players</a>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Statistics/Matches/MatchListMenu.asp">Match Lists &amp; Scorecards</a>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Statistics/Series/SeriesListMenu.asp">Series Lists</a>
</td>
</tr>
<tr>
<td>
<div class="MainMenu2">More Records/Statistics</div>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/AllRounders/AllRoundersMenu.asp">All Rounders</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Batting/BattingMenu.asp">Batting</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Bowling/BowlingMenu.asp">Bowling</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Captaincy/CaptaincyMenu.asp">Captaincy</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Countries/CountryList.asp">Countries</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Dismissals/DismissalMenu.asp">Dismissals</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Fielding/FieldingMenu.asp">Fielding</a><br/>
<a "="" class="SubMenu" href="http://howstat.com/cricket/Statistics/Grounds/GroundMenu.asp">Grounds</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Matches/MatchMenu.asp">Matches</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Series/SeriesMenu.asp">Series</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/WicketKeeping/WicketKeepingMenu.asp">Wicket Keeping</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/WorldCup/WorldCupMenu.asp">World Cup</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/WSC/WSCMenu.asp">World Series Cricket</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/Misc/MiscMenu.asp">Other...</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/IPL/IPLMenu.asp">IPL</a><br/>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Articles/Milestones.asp">Upcoming Milestones</a>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Articles/RecentRecords.asp">Recent Records</a>
</td>
</tr>
<tr>
<td>
<div class="MainMenu2">Ratings</div>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/WorldXI.asp">World XI (Test)</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/WorldXI_ODI.asp">World XI (ODI)</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/TopTen.asp">Top Ten (Test)</a><br/>
<a class="SubMenu" href="http://howstat.com/cricket/Statistics/TopTen_ODI.asp">Top Ten (ODI)</a><br/>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Search.asp">Search HowSTAT</a>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Quiz/Quiz.asp">HowSTAT Quiz</a>
</td>
</tr>
<tr>
<td>
<a class="MainMenu" href="http://howstat.com/cricket/Links.asp">Links</a>
</td>
</tr>
<tr>
<td>
       
    </td>
</tr>
<!--	
  <tr>
    <td>
			<a class="MenuLinkOff"  href="http://howstat.com/cricket/Promotions/CounterAttackingBatting.asp" target="CricketSportsbook">Counter Attacking Batting</a>
    </td>
  </tr>	
  <tr>
    <td>  
      <a class="MainMenu" href="http://www.cricketgames.me" target="ExternalLink">Cricket Games</a>
    </td>
  </tr>		
-->
</table>
</div>
<div style="background-color: #000;  height: 20px; left: 0; margin-left: 5px; position: fixed; top: 0; width: 100%; z-index: 99; padding: 3px 0 0 0">
<table border="0" cellpadding="1" cellspacing="0" width="100%">
<tr>
<td width="160"> 
    </td>
<td align="left" class="TextWhite8" valign="middle">
<a name="TopOfPage"></a>
<a class="TextWhite8" href="http://howstat.com/cricket/AboutUs.asp">
        About Us
      </a>         
      |
      <a class="TextWhite8" href="http://howstat.com/cricket/Feedback.asp">
        Feedback
      </a>         
      |
      <a class="TextWhite8" href="http://howstat.com/cricket/AskTheExpert.asp">
        Ask the Statistician
      </a>
      |
      <a class="TextWhite8" href="http://howstat.com/cricket/AdvertisingInfo.asp">
        Advertise on Howstat
      </a>
      |
      <a class="TextWhite8" href="http://howstat.com/cricket//Statistics/Players/PlayerMenu.asp">
        Find a Player
      </a>
</td>
</tr>
</table>
</div>
