<style>
    .hello-mgs {
      font-size: larger;
      color: azure;
      margin-right: 1cm;
    }
    .logo-pic {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
        border-radius: 50%;
    }
  </style>
  {% load static %}
  {% load account_extras %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand " href="{% url 'store' %}"><img class="logo-pic" src="{% static 'img/logo.jpg' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
        {% if request.user.is_staff or request.user|has_group:"seller" %}
          
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'seller_dashboard' %}"> Dashboard </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'product' %}">Product</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
            </li>
        {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'store' %}">Store</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'user_dashboard' %}">Deshboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'review' %}">Review</a>
            </li>
          {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts_settings' %}">Profile</a>
      </li>
      
      {% endif %}
          </ul>
        <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated%}
          <span class="hello-mgs">Hello, {{request.user.myprofile}}</span>
          <span><a class="hello-mgs" href="{% url 'logout' %}">Logout</a></span>
            {% if request.user|has_group:"customer" %}
              <div class="form-inline">
                <a href="{% url 'cart' %}"><img src="{% static '/img/cart.png' %}" id="cart_image"></a>
                <p id="cart-total">{{cartItem}}</p>
              </div>
            {% endif %}
      {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'register'%}">Sign Up</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      </div>
     {% endif%}
  </nav>