{% extends 'accounts/base.html' %}
{% block body %}
<br>
<h1 class="text-center" style="background-color: chartreuse; color:white;">SING UP</h1>
<div class="container">
		
		<br>
		
		<form method="POST" enctype="multipart/form-data" action="{% url 'register' %}">
			{% csrf_token%}
		<div class="row">
				<div class="form-group col-md-6" >
					<strong>Username</strong>
					<br>
					{{form.username}}
					{% if form.username.errors %}
						{% for error in form.username.errors %}
						    <strong class="text-danger" style="font-size: 12px;">{{error}}</strong><br>
                		{% endfor %}
                	{% endif %}
					<span style="font-size: 12px;color:darkmagenta;">Please enter the email address </span>
					<br>
				</div>

				<div class="form-group col-md-6" >
					<strong>Passwrod</strong>
					<br>
					{{form.password}}
					{% if form.errors %}
                		{%for error in form.non_field_errors %}
               				 <strong class="text-danger" style="font-size: 12px;">{{error}}</strong><br>
               			 {%endfor%}
               		{%endif%}
					<span style="font-size: 12px;color:darkmagenta;">Enter greater then 6 character </span>

					<br>
				</div>		
				<div class="form-group col-md-6" >
					<strong>Confirm Passwrod</strong>
					<br>
					{{form.confirm_password}}
					<br>
				</div>

				<div class="form-group col-md-6" >
					<strong>Name</strong>
					<br>
					{{form.name}}
					{% if form.name.errors %}
						{% for error in form.name.errors %}
						    <strong class="text-danger" style="font-size: 12px;">{{error}}</strong><br>
                		{% endfor %}
                	{% endif %}
					<span style="font-size: 12px;color:darkmagenta;">Enter only character </span>
					<br>


				</div>		
				<div class="form-group col-md-6" >
					<strong>Gender</strong>
					<br>
					{{form.gender}}
					<br>
				</div>

				<div class="form-group col-md-6" >
					<strong>Phone</strong>
					<br>
					{{form.phone}}
					{% if form.phone.errors %}
						{% for error in form.phone.errors %}
						    <strong class="text-danger" style="font-size: 12px;">{{error}}</strong><br>
                		{% endfor %}
                	{% endif %}
					<br>
				</div>		
				<div class="form-group col-md-6" >
					<strong>Register Type</strong>
					<br>
					{{form.register_type}}
					<br>
				</div>

				<div class="form-group col-md-6" >
					<strong>Profile Picture</strong>
					<br>
					{{form.profile_pic}}
					<br>
				</div>		
		</div>		
		<center>
		
				<input type="submit" class="btn btn-outline-success" value="Submit">
			</center>
		</form>
		<span style="margin-left: 50px; color:indigo;">Already have An Account?</span>
		<a href="{% url 'login' %}" style="color:darkmagenta; "> <strong>LogIn	</strong> </a>

	
</div>
{% endblock %}